<app-loading *ngIf="loading"></app-loading>
<div class="container-fluid" *ngIf="!loading">
    <div class="row banner">
        <h4 class="course-title">{{course[1]}}</h4>
        <p class="course-description ">{{course[0]}}</p>
        <button class="btn btn-warning ">Inscribirse</button>
    </div>
    <h2 class="offset-1 mb-3">Contenido</h2>
    <div class="accordion offset-1 col-10 mb-5" id="accordionExample">
        <div class="card" *ngFor="let unit of units; let i = index">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" attr.data-target="#collapse{{i}}" aria-expanded="true" aria-controls="collapseOne">
                            {{unit.name}}
            </button>
                </h2>
            </div>
            <div attr.id="collapse{{i}}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    <ul>
                        <li *ngFor="let topic of unit.topics | topics; let j = index">{{topic.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>