.row {
    margin: 0;
}

button {
    margin: 0 auto;
    font-size: 15px;
}

.banner {
    padding: 40px 150px;
    background: linear-gradient(to left, #48dbfb, #1dd1a1);
    margin-bottom: 40px;
}

.container-fluid {
    padding: 0;
}

.course-description {
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}

.course-title {
    margin: 0 auto;
    font-size: 35px;
}

.load-frame {}