<h1>
  Preguntas frecuentes
</h1>

<div class="questions-list col-12">
<div class="questions-details">
  <h4 class="questions-title">¿A quien esta digirigido AGTEAM?</h4>
   <p>AGTEAM es una plataforma educativa dirigida para cualquier persona
    con ganas de aprender acerca de bases de datos.</p>
    

  <h4 class="questions-title">¿Necesito tener conocimientos previos?</h4>
    <p>No, incluso si no tienes ningun conocimiento en bases de datos, puedes unirte a nosotros, 
    no importa si eres un estudiante universitario novato o un profesional que desea fortalecer y 
    aumentar sus conocimientos en esta área ¡Tenemos cursos para todos los niveles!</p>
      

  <h4 class="questions-title">¿Otorgan algun tipo de certificado?</h4>
    <p>Si al términar de cada curso se te otorgara un diploma que acredita 
    que has concluido con el curso y que podras añadir a tu curriculum.</p>
      

  <h4 class="questions-title">¿Quienes son los profesores?</h4>
    <p>Los cursos son impartidos por profesionales del area que te ayudaran en tu proceso
    de aprendizaje. Además, puedes recurrir a ellos para resolver tus dudas.</p>
      

  <h4 class="questions-title">¿Cuando puedo acceder al curso?</h4>
    <p class="final-parra">En cualquier momento. Al inscribirte a alguno de nuestros cursos puedes acceder a ellos de por vida.</p>
      
</div>
</div>