h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.questions-list {
    height: 100%;
}

p {
    margin-left: 100px;
    margin-right: 100px;
}

.questions-title {
    border-bottom: 2px solid #7b7b7f;
    font-size: 20px;
    padding: 10px 0;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 20px;
}

.questions-details {
    margin-left: 50px;
}

.final-parra {
    margin-bottom: 50px;
}


