h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

li {
    font-size: 20px;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}