<h1>
  Términos y condiciones.
</h1>

<div class="conditions-details">
  <ul>
    <li>
    No se hará uso de los datos del usuario para beneficio de la empresa, 
    AG TEAM esta comprometido con la proteccion de los datos del usuario y son nuestra prioridad.      
    </li>

    <li>
    Todo el contenido de AGTeam pertenece a la empresa y no se debera hacer uso indebido 
    de los recursos aqui proporcionados.
    </li>

    <li>
      Los cursos son personales, asi que no se podra hacer uso de una cuenta por más de una persona.
    </li>

    <li>
      No esta permitido hacer uso de lenguaje ofensivo que dañe la integridad de los profesores o 
      demas usuarios de la plataforma, cualquier actitud violenta que se detecta podra ser 
      causa de suspensión de la cuenta de usuario.
    </li>
  </ul>
</div>