<div class="animated fadeIn">
    <div class="background">
        <div class="row">
            <div class="col-lg-7 col-xl-7">
                <h2>Aprende de Bases de Datos con Nosotros</h2>
                <p class="phrase-home">El Futuro Tecnológico en un click</p>
            </div>
        </div>
    </div>
    <div class="row-2">
        <div class="row">
            <div class="col-6 img">
                <img class="img-database" src="/assets/img/home/database.png" alt="">
            </div>
            <div class="col-6">
                <h3>Ven y Unete a Nosotros</h3>
                <p>Conviertete en uno de nuestros estudiantes y mejora tus habilidades en bases de datos</p>
            </div>
        </div>
    </div>

    <div class="row-3">
        <div class="col-12">
            <h3>Ultimos cursos</h3>
        </div>
        <div class="row">
            <div class="offset-sm-2  offset-md-0 col-9 col-md-6">
                <div class="card offset-md-4 col-md-8 course-card">
                    <img src="/assets/img/home/fund-bdd.png" class="card-img-top" alt="funamentos de bd">
                    <hr>
                    <div class="card-body">
                        <h5 class="course-title">Fundamentos de bases de datos</h5>
                        <p class="card-text course-description">Crea tus propios modelos de bases de datos con al mejores prácticas del curso.</p>
                    </div>
                </div>
            </div>
            <div class="offset-sm-2 offset-md-0 col-9 col-md-6">
                <div class="card col-md-8 course-card">
                    <img src="/assets/img/home/mysql.png" class="card-img-top" alt="...">

                    <hr>
                    <div class="card-body">
                        <p class="course-title">
                            MySQL <span class="badge badge-warning">Próximamente</span>
                        </p>
                        <p class="card-text course-description">Aprende las funciones de MySQL como gestor de Bases de datos con el que podrás crear aplicaciones para ejecutar dichas funciones.</p>
                    </div>
                </div>
            </div>
        </div>
        <p class="phrase-row3">"La importancia de las bases de datos es vital en la actualidad ya que es muy demandada por empresas de nivel mundial"</p>
    </div>
</div>