<div class="row profile-image">
    <img src="assets/img/profile/default-profile.png" alt="">
</div>
<div class="row">
    <h4 class="username">{{user[4]}}</h4>
</div>
<div class="row">
    <div class="offset-md-2 col-md-8">
        <h4>Descripción</h4>
        <hr>
        <p *ngIf="user[0] == ''">Sin descripción</p>
        <p *ngIf="user[0] != ''">{{user[0]}}</p>
        <h4>Datos de Usuario <i class="fas fa-pen-square"></i></h4>
        <hr>
        <div class="user-data">
            <h5>Nombre</h5>
            <p>{{user[4]}} {{user[3]}}</p>
            <h5>Email</h5>
            <p>{{user[1]}}</p>
        </div>
        <h4>Mis cursos</h4>
        <hr>

    </div>
</div>