<footer class="footer bg-primary">
    <div class="row ">
        <div class="col-6 col-md-3 section mt-5 mb-5"> <a [routerLink]="['/questions']">Preguntas frecuentes</a> </div>
        <div class="col-6 col-md-3 section mt-5 mb-5"> <a [routerLink]="['/about']">Acerca de</a> </div>
        <div class="col-6 col-md-3 section mt-5 mb-5"> <a [routerLink]="['/conditions']">Términos y condicines</a> </div>
        <div class="col-6 col-md-3 section mt-5 mb-5"> <a href="">Contacto</a> </div>
    </div>
</footer>